@{
    ViewData["Title"] = "ExampleAPI";
}

<h2>Try my REST API!</h2>

<style>
    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
</style>

<table style="width:100%">
    <tr>
        <th style="width:10%">Method</th>
        <th style="width:20%">Endpoint</th>
    </tr>
    <tr style="height:50px">
        <td>GET</td>
        <td>/ExampleAPI/GetExp</td>
    </tr>
    <tr style="height:50px">
        <td>GET</td>
        <td>/ExampleAPI/GetSkills</td>
    </tr>
</table>