@{
    ViewData["Title"] = "Experience";
}

<style>
    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
</style>

<table style="width:100%">
    <tr>
        <th style="width:10%">Company</th>
        <th style="width:20%">Position</th>
        <th style="width:20%">Time Period</th>
        <th style="width:50%">Responsibilities</th>
    </tr>
    <tr style="height:100px">
        <td>YOUR COMPANY</td>
        <td>JUNIOR .NET DEVELOPER</td>
        <td>TOMORROW?</td>
        <td>MAKING YOUR PROJECT GREAT</td>
    </tr>
    <tr style="height:100px">
        <td>DXC Technology</td>
        <td>Junior .net Developer</td>
        <td>11.2021 - now</td>
        <td>programming in .net</td>
    </tr>
    <tr style="height:100px">
        <td>Netcompany</td>
        <td>Consultant</td>
        <td>10.2021 - 10.2021</td>
        <td>test suite refactoring</td>
    </tr>
    <tr style="height:100px">
        <td>Intel</td>
        <td>Software Development Intern</td>
        <td>07.2021 - 09.2021</td>
        <td>PyQt5 code refactoring, maintaining test suite</td>
    </tr>
    <tr style="height:100px">
        <td>AXA Avanssur</td>
        <td>Automation Intern</td>
        <td>11.2020 - 06.2021</td>
        <td>developing automation tests, maintaining testing framework, API testing, programming in C#</td>
    </tr>
    <tr style="height:100px">
        <td>Ideas4biology</td>
        <td>Bioinformatician Analyst Intern</td>
        <td>03.2020 - 09.2020</td>
        <td>primers design, RNA-seq analisis</td>
    </tr>
    <tr style="height:100px">
        <td>Testronic Labs</td>
        <td>Manual Tester</td>
        <td>07.2018 - 09.2018</td>
        <td>manual testing, reporting bugs</td>
    </tr>
</table> 